.flex-row {
  background-image: url("../Components/mainpage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0px;
}

.hea {
  color: brown;
}
